---
layout: base.html
---

<body>
  {% include "header-shop.html" %}
  {% include "hero-shop.html" %}
  <main class="shop">
    {% include "images.html" %}
    <div class="shop-desc-div box-light">
      <h2 class="shop-item-title">{{ title }}</h2>
      {{ content }}
    </div>
  </main>