<header>
    <h1 class="header-title"><a href="/index.html">caesium tea.</a></h1>
    <nav>
        <ul>
            {% for section in sections %}
            <li>
                <a href="#{{ section }}">{{ section }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>