<header>
    <h1 class="header-title"><a href="/index.html">caesium tea.</a></h1>
    <nav>
        <ul>
            <li>
                <a href="/shop/">shop</a>
            </li>
            <li>
                <a href="https://blog.caesiumtea.art">blog</a>
            </li>
        </ul>
    </nav>
</header>