<div class="images-div">
  <img src="{{ images[0][0] }}" alt="{{ images[0][1] }}" class="main-img">
  <div class="thumbs box-light">
    {% for image in images %}
      <img src="{{ image[0] }}" alt="{{ image[1] }}">
    {% endfor %}
  </div>
</div>