*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-purple: #3d0c4f;
  --color-purple-dark: #1C0524;
  --color-chartreuse: #8cb426;
  --color-bg-dark: #3d0c4f;
  --color-bg-light: white;
  --color-text-light: #fff;
  --color-text-dark: #1C0524;
  --color-accent-1: #ee0;
  --color-accent-2: #5cf;
  --color-accent-3: #a6f;
  --gradient-purple: linear-gradient(var(--color-purple), 
                                     var(--color-purple-dark));
  --gradient-transp: linear-gradient(rgba(0,0,0,1) 60%, rgba(0,0,0,0) 95%);
  --font-accent: Eczar, Georgia, serif;
}

body {
  font-family: Nunito, Arial, sans-serif;
  background-image: url(assets/trianglebg3.png);
  background-attachment: fixed;
  color: var(--color-text-light);
}

header {
  display: flex;
  align-items: center;
  background-color: var(--color-chartreuse);
  padding: 3px;
  padding-right: 1rem;
  color: var(--color-purple-dark);
  position: sticky;
  top: 0;
}

h1 {
  font-family: var(--font-accent);
}

.header-title {
  font-weight: 500;
  font-size: 120%;
  text-align: left;
  margin-left: 0.5rem;
}

header nav {
  margin-left: auto;
  width: fit-content;
}

header ul {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  list-style: none;
}

header a, header a:visited, header a:active, header a:hover,
  .card a, .card a:visited, .card a:active, .card a:hover {
  text-decoration: none;
}

header a, header a:visited, header a:active, header a:hover {
  color: var(--color-purple-dark);
}

header a:hover, header a:active {
  background-color: white;
}

/* header a::before {
  content: "|  "
} */

/******* index *******/

.hero {
  border-bottom: white 2px solid;
  margin-bottom: 1rem;
  padding: 1rem;
  background: var(--gradient-purple);
}

h1 {
  font-family: var(--font-accent);
}

.hero-title, .hero-title-small {
  font-weight: 500;
  text-align: center;
  font-family: var(--font-accent);
}

.hero-title {
  font-size: min(14vi, 130px);
}

.hero-title-small {
  font-size: min(12vi, 80px);
}

.hero-subtitle {
  text-align: center;
  font-weight: normal;
}

.hero a, .hero a:visited, .hero a:hover, .hero a:active {
  color: var(--color-text-light);
  text-decoration: none;
}

main {
  margin: 1rem;
  max-width: 600px;
}

main.shop {
  max-width: unset;
}

section {
  margin-bottom: 3rem;
}

.index-h2 {
  /* font-family: Eczar, Georgia, serif; */
  text-align: center;
  background-color: white;
  color: var(--color-purple-dark);
  width: fit-content;
  margin: auto;
}

.box, .box-light {
  padding: 1rem;
  margin-bottom: 1rem;
}

.box {
  background-color: var(--color-bg-dark);
}

.box-light {
  background-color: var(--color-bg-light);
  border: 2px solid var(--color-purple);
}

.card {
  margin: 1rem;
  max-width: 200px;
}

.card-light a, .card-light a:visited, .card-light a:active, .card-light a:hover 
  {
  color: var(--color-purple);
}

.link {
  display: block;
  text-align: center;
}

.box a, .box a:visited {
  color: var(--color-text-light);
  font-weight: 600;
}

.link a, .link a:visited {
  font-family: Eczar, Georgia, serif;
  font-size: 180%;
  font-weight: normal;
  /* text-decoration: none; */
}

.link a:hover, .link a:active {
  font-weight: 600;
}

.accent {
  font-family: var(--font-accent);
  font-size: 120%;
}

.note {
  font-style: italic;
}

.subtitle {
  font-weight: bold;
  margin-bottom: 1rem;
}

#work-box {
  text-align: center;
}

#about-box p {
  margin-bottom: 0.5rem; 
}

#contact-box {
  text-align: center;
}

#contact-box ul {
  list-style: none;
}

#contact-box li {
  margin-bottom: 1.5rem;
}

.contact-label {
  line-height: 80%;
}

.contact-link {
  line-height: 80%;
}

.contact-link a, .contact-link a:visited {
  font-family: Eczar, Georgia, serif;
  color: var(--color-text-light);
  text-decoration: none;
}

.contact-link a:hover, .contact-link a:active {
  font-weight: 600;
}

footer {
  margin-top: 1rem auto;
  text-align: center;
  /* border-top: white 2px solid; */
  padding-top: 1rem;
  background-color: var(--color-chartreuse);
  color: var(--color-purple-dark);
}

/******* shop *******/

main.shop {
  color: var(--color-text-dark);
  /* background-color: var(--color-bg-light); */
}

.products-container {
  max-width: fit-content;
  margin: auto;
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /* max-width: fit-content; */
}

.shop-item-list-name {

}

.preview-img {
  max-width: 100%;
}

.shop-preview-desc {
  /* height: 2rem; */
  /* overflow: hidden; */
  /* mask-image: var(--gradient-transp); */
}

.images-div {
  /* background-color: var(--color-bg-light); */
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
}

.main-img {
  max-width: 100%;
}

.thumbs {
  display: flex;
}

.thumbs img {
  height: 100px;
}

.shop-desc-div {
  /* background-color: var(--color-bg-light); */
  margin: auto;
  min-height: 20rem;
}

.shop-item-title {
  font-size: 200%;
  font-weight: bold;
  background-color: var(--color-bg-light);
}

/******* @ rules *******/

@media screen and (min-width: 600px) {
  header ul {
    gap: 2em;
    font-size: 120%;
  }

  h3 {
    font-size: 150%;
  }

  main {
    margin: 1rem auto;
  }

  main.shop {
    max-width: 80vw;
  }

  .shop-desc-div {
    max-width: max(70%, 600px);
  }
}