---
layout: body-index.html
title: art, design, code, crafts
sections: [links, work, about, contact]
---

    <section id="links">
      <h2 class="index-h2">links</h2>
      <div class="box link">
        <a href="https://blog.caesiumtea.com/" target="_blank" rel="noopener noreferrer">art blog/newsletter</a>
        <p>updates, downloads, and subscriptions</p>
      </div>
      <div class="box link">
        <a href="https://ko-fi.com/caesiumtea/shop" target="_blank" rel="noopener noreferrer">ko-fi store</a>
        <p>printables for sale</p>
      </div>
      <div class="box link">
        <a href="https://www.youtube.com/@caesiumtea" target="_blank" rel="noopener noreferrer">youtube channel</a>
        <p>art vlogs</p>
      </div>
      <div class="box link">
        <a href="https://twitter.com/caesiumtea" target="_blank" rel="noopener noreferrer">twitter</a>
        <p>artwork and updates</p>
      </div>
      <div class="box link">
        <a href="https://www.instagram.com/caesiumtea/" target="_blank" rel="noopener noreferrer">instagram</a>
        <p>image gallery</p>
      </div>
      <div class="box link">
        <a href="https://pixelfed.social/caesiumtea" target="_blank" rel="noopener noreferrer">pixelfed</a>
        <p>image gallery</p>
      </div>
      <div class="box link">
        <a href="https://www.patreon.com/caesiumtea" target="_blank" rel="noopener noreferrer">patreon</a>
        <p>updates, downloads, and subscriptions</p>
      </div>
      <div class="box link">
        <a href="https://www.facebook.com/caesiumtea/" target="_blank" rel="noopener noreferrer">facebook</a>
        <p>updates and image gallery</p>
      </div>
      <div class="box link">
        <a href="https://www.redbubble.com/people/caesiumtea/shop" target="_blank" rel="noopener noreferrer">redbubble store</a>
        <p>print-on-demand goods</p>
      </div>
      <div class="box link">
        <a href="https://www.creativefabrica.com/designer/caesiumtea" target="_blank" rel="noopener noreferrer">creative fabrica store</a>
        <p>graphics for sale</p>
      </div>
      <div class="box link">
        <a href="https://www.etsy.com/shop/CaesiumTea" target="_blank" rel="noopener noreferrer">etsy store</a>
        <p>printables for sale</p>
      </div>
      <div class="box link">
        <a href="https://glitch.com/@caesiumtea" target="_blank" rel="noopener noreferrer">glitch</a>
        <p>web experiments</p>
      </div>
      <div class="box link">
        <a href="https://gitlab.com/caesiumtea" target="_blank" rel="noopener noreferrer">gitlab</a>
        <p>web dev and coding projects</p>
      </div>
      <div class="box link">
        <a href="https://github.com/caesiumtea" target="_blank" rel="noopener noreferrer">github</a>
        <p>web dev and coding projects</p>
      </div>
      <div class="box link">
        <a href="https://ko-fi.com/caesiumtea" target="_blank" rel="noopener noreferrer">ko-fi</a>
        <p>donate to support my work</p>
      </div>
    </section>
    <section id="work">
      <h2 class="index-h2">work</h2>
      <div id="work-box" class="box">
        <p class="note">portfolio coming soon!</p>
        <p class="note">for now, you can find my work posted at the links above.</p>
      </div>
    </section>
    <section id="about">
      <h2 class="index-h2">about</h2>
      <div id="about-box" class="box">
        <h3 class="subtitle"><em>caesium tea</em> is a one-person studio creating art, writing, crafts, printables,
          code, and more.</h3>

        <p>my name is vance and my pronouns are they/them.</p>
        <p>i'm an aspiring jack of all trades, an eclectic creator who enjoys exploring every medium i can get my hands
          on and learning just enough of it to make trouble.</p>
        <p>drawing, writing (fictional and editorial), sewing, embroidery, crochet, 3D printing, coding (web and
          Python), and electronics are just a few of the crafts i've been into lately! meanwhile, you can find poster
          designs and planner printables on my <a href="https://www.etsy.com/shop/caesiumtea" target="_blank"
            rel="noopener noreferrer">Etsy</a>.</p>
        <p>i'm queer, transmasc non-binary, neurodivergent, and disabled. based in Pittsburgh, PA. some of my other
          interests are journaling, learning about mental health, knowledge management systems, and role-playing games.
        </p>
      </div>
    </section>
    <section id="contact">
      <h2 class="index-h2">contact</h2>
      <div id="contact-box" class="box">
        <ul>
          <li>
            <span class="contact-label">email</span>
            <br>
            <span class="accent contact-link"><a href="mailto:caesiumtea@gmail.com">caesiumtea@gmail.com</a></span>
          </li>
          <li>
            <span class="contact-label">discord</span>
            <br>
            <span class="accent contact-link"><a href="https://discord.com/">@caesiumtea</a></span>
          </li>
          <li>
            <span class="contact-label">twitter (DMs open)</span>
            <br>
            <span class="accent contact-link"><a href="https://twitter.com/caesiumtea">@caesiumtea</a></span>
          </li>
          <li>
            <span class="contact-label">mastodon (DMs open)</span>
            <br>
            <span class="accent contact-link"><a
                href="https://mastodon.social/@entropy">@entropy@mastodon.social</a></span>
          </li>
          <li>
            <span class="contact-label">facebook</span>
            <br>
            <span class="accent contact-link"><a href="https://www.facebook.com/caesiumtea/">caesium tea</a></span>
          </li>
        </ul>
      </div>
    </section>