---
layout: body-index.html
title: art & accessories for sale
sections: [welcome, shop, contact, about]
---

    <section id="welcome">
      <h2 class="index-h2">welcome</h2>
      <div id="welcome-box" class="box">
        <p>thanks so much for checking out my work at Prototype PGH!</p>
        <p>if you just want to know more about me or see more of my art, check out my <a href="index.html">homepage</a> or my <a href="https://blog.caesiumtea.com/">art blog</a>. also, the place I most regularly post art these days is my <a href="https://www.instagram.com/caesiumtea/">Instagram</a>.</p>
        <p>if you liked an item that you saw on my shelf at Prototype, I would be delighted to sell it to you! just get in touch and tell me which piece you're intereted in--see below for details. </p>
        <p>I'm also happy to take commissions, including for 3D prints or laser cutting!</p>
    </div>
    </section>
     
    <section id="shop">
      <h2 class="index-h2">make a purchase</h2>
      <div id="shop-box" class="box">
        <p>I'm hoping to have my products listed on my <a href="https://ko-fi.com/caesiumtea/shop">Ko-fi store</a> soon, but for now, you'll have to just contact me to arrange the purchase. here's some options for how to reach me:</p>
        <ul>
            <li>my preferred contact method is <strong>Discord</strong> if possible--this will get the fastest response from me. my username is <strong>@caesiumtea</strong>.</li>
            <li>email me at <b><a href="mailto:caesiumtea@gmail.com">caesiumtea@gmail.com</a></b> and preferably mention Prototype in the subject!</li>
            <li>if you're a Prototype member, you can look me up on the Prototype Signal or Slack groups and DM me on those platforms. my name is just "vance" in both groups.</li>
            <li><a href="https://vancemoss.carrd.co/">more contact options</a></li>
        </ul>
        <p>tell me what you want to buy, I'll reply and confirm the price, and we can decide how to get it to you.</p>
        <p>I can ship products out (you pay shipping), or we can meet up to get the items to you.</p>
      </div>
    </section>

    <section id="about">
      <h2 class="index-h2">about</h2>
      <div id="about-box" class="box">
        <h3 class="subtitle"><em>caesium tea</em> is a one-person studio creating art, writing, crafts, printables,
          code, and more.</h3>

        <p>my name is vance and my pronouns are they/them.</p>
        <p>i'm an aspiring jack of all trades, an eclectic creator who enjoys exploring every medium i can get my hands
          on and learning just enough of it to make trouble.</p>
        <p>drawing, writing (fictional and editorial), sewing, embroidery, crochet, 3D printing, coding (web and
          Python), and electronics are just a few of the crafts i've been into lately! meanwhile, you can find poster
          designs and planner printables on my <a href="https://www.etsy.com/shop/caesiumtea" target="_blank"
            rel="noopener noreferrer">Etsy</a>.</p>
        <p>i'm queer, transmasc non-binary, neurodivergent, and disabled. based in Pittsburgh, PA. some of my other
          interests are journaling, learning about mental health, knowledge management systems, and role-playing games.
        </p>
      </div>
    </section>
    <section id="contact">
      <h2 class="index-h2">contact</h2>
      <div id="contact-box" class="box">
        <ul>
          <li>
            <span class="contact-label">email</span>
            <br>
            <span class="accent contact-link"><a href="mailto:caesiumtea@gmail.com">caesiumtea@gmail.com</a></span>
          </li>
          <li>
            <span class="contact-label">discord</span>
            <br>
            <span class="accent contact-link"><a href="https://discord.com/">@caesiumtea</a></span>
          </li>
          <li>
            <span class="contact-label">twitter (DMs open)</span>
            <br>
            <span class="accent contact-link"><a href="https://twitter.com/caesiumtea">@caesiumtea</a></span>
          </li>
          <li>
            <span class="contact-label">mastodon (DMs open)</span>
            <br>
            <span class="accent contact-link"><a
                href="https://mastodon.social/@entropy">@entropy@mastodon.social</a></span>
          </li>
          <li>
            <span class="contact-label">facebook</span>
            <br>
            <span class="accent contact-link"><a href="https://www.facebook.com/caesiumtea/">caesium tea</a></span>
          </li>
        </ul>
      </div>
    </section>